.navbar-size {
  width: 95%;
  margin: 0 auto;
}

.user-image-size {
  height: 56px;
  margin: 4px 0;
}

.main-body {
  background-color: #f28487;
  color: white;
  height: calc(100vh - 64px);
}

.materialboxed-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.click-me-button {
  background-color: #ee6e73;
  margin-top: 50px;
}

/* Card Image Styling */
.card-image img {
  width: 100%; /* Ensures images fill their container */
  height: auto; /* Maintains aspect ratio */
}

/* Adjusting the size of the images inside the cards */
.card-content img {
  width: 100%;
  height: auto;
  max-width: 250px; /* Reduced size of images inside the cards */
  margin: 0 auto;
}

/* Card container styling */
#cardList .col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Optional: Adjusting the overall card size */
.card {
  width: 100%;
  max-width: 250px; /* Reduced width of the card */
  margin: 0 auto;
}
